body{
    margin:0;
    height:100%;
}

.header{
    margin:0;
    width: 100%;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:hidden;
}

.nav{
    height: 60px;
}

.nav-logo{
    float: left;
    width: 50%;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(99, 127, 131);
    text-align: center;
    font-weight: bold;
    padding-top:11px;
}

/* MENU*/

.nav{
    width: 80%;
}

.menu{
    float: right;
    width: 50%;
    text-align: left;
}

.nav-stripe{
    list-style-type: none;
    float: right;
    padding-top: 11px;
}

.nav-stripe li{
    list-style-type: none;
    float: left;
    padding-left: 25px;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(99, 127, 131);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    z-index: 8;
}

.img-nav-arr-hover{
    position: absolute;
    top: 3%;
    display: none;
}

.nav-stripe li a:hover{
    color: rgb(228, 85, 29);
}


/* BACKGROUND PCT */

.main-pict{
    background: url('../images/header_background.png') no-repeat center center;
    background-size: 100%;
    width: 100%;
    box-sizing: border-box;
    height: 330px;
    text-align: center;
}

.bckg-text-big{
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 40px;
    letter-spacing: 1.7px;
    line-height: 1.3em;
}

.bckg-text-small{
    margin-top: -15px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7em;
}


.bckg-img-round{
    background: url('../images/cir.png') no-repeat center center;
    width:50px;
    height:50px;
    background-size:contain;
}
.bckg-img-arr{
    background: url('../images/arrow.png') no-repeat center center;
    width:50px;
    height:50px;
}

.A {
    width: 30%;
    margin-left: 48%;
}

a:hover{
    cursor: pointer;
}


/* MAIN PART */

.text-stripe {
    padding-top: 15px;
    text-align: center;
}

.text-stripe p, .text-stripe2 p{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 0.2em;
    color: rgb(99, 127, 131);
}

.p1{
    font-size: 24px;
    font-weight: bold;
}

.options-stripe{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.option{
    display: table-cell;

    height: 310px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding: 15px;
    color: rgb(99, 127, 131);
    vertical-align: middle;
    width: 20%;
}

.option:first-child, .option:nth-child(2), .option:nth-child(3){
    border-right: 1px solid rgb(213, 213, 213);
}

.name{
    font-size: 18px;
    font-weight: bold;
}

.morebtn {
    background-color: rgb(99, 127, 131);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    height: 30px;
    width: 65px;
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
  }

.morebtn:hover{
      cursor: pointer;
  }


.text-stripe2{
    padding-top: 35px;
    text-align: center;
}

.bckg-orange{
    text-align: center;
    padding-top: 65px;
}

.bckg-orange img{
    width: 100%;
    height: 100%;
}

.orangebtn{
    text-align: center;
}

.btn-view-portf{
    background-color: rgb(228, 85, 29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    margin-top: 40px;
    height: 40px;
    width: 140px;
    letter-spacing: 1.2px;
}

.btn-view-portf:hover{
    cursor: pointer;
}

.line{
    width: 46%;
}

.line-with-arrows{
    margin-top: 38px;
}

.line1{
    float: left;
}

.line2{
    float: right;
}

.line-arr1, .line-arr2{
    float: left;
    padding-left:16px;
}

hr{
    border-color: white;
}

.sep-line{
    margin-top: 47px;
}


.feedbacks-section{
    display: table;
}

.row{
    display: flex;
}

.fdb{
    display: flex;
}

.column p{
    padding-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: rgb(99, 127, 131);
    vertical-align: top;
    line-height: 1.7em;
    letter-spacing: 0.4px;
}

.column p span{
    font-weight: bold;
    font-size: 18px;
}

.column img{
    padding-top: 13px;
}

.plsmore{
    color: rgb(228, 85, 29);
}

/* FOOTER */


.gray-ft{
    background-color: rgb(99, 127, 131);
    margin-top: 27px;
}

.ft1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(89, 114, 117);
}

.p1-ft span{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.p1-ft {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    line-height: 1.2;
}

.cellw{
    display: table-row;
}

.cell{
    display: table-cell;
}


.inpfield{
    width: 70%;
    display: table-cell;
    background-color:rgb(89, 114, 117);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    height: 32px;
    padding-left: 10px;
}

form{
    width: 540px;
    margin-bottom: 45px;
}
.submbtn{
    display: table-cell;
    background-color:rgb(89, 114, 117);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    letter-spacing: 1px;
    width: 85px;
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    margin-left: 7px;
}

.submbtn:hover{
    cursor: pointer;
}

.cellmailimg {
position: relative;
top: 19px;
}

.celltxt{
    padding-top: 0px;
    padding-left: 15px;
}

.celltxt p {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    line-height: 1.5em;
    font-size: 14px;
}

.celltxt p span{
    font-size: 18px;
    font-weight: bolder;
}

.twittercit{
    background-color: rgb(89, 114, 117);
    border-radius: 4px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 31px;
}

.celldoveimg{
    position: relative;
    top: 31px;
}

.twitlink{
    text-decoration: underline;
}

.round-img{
    background: url('../images/cir.png') no-repeat center center;
    width: 70px;
    height:70px;
    background-size:contain;
}
.fb{
    background: url('../images/fb.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.gpls{
    background: url('../images/gplus.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.lkd{
    background: url('../images/linkedin.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.ft-gr3-txt{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    line-height: 1.5em;
    font-size: 14px;
    padding: 20px;
}

.ft2{
    text-align: center;
}

.col{
    display: inline-block;
}

.white-ft{
    margin: 30px;

}

.soctxt{
    width: 250px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(99, 127, 131);
    line-height: 1.5em;
    font-size: 14px;
    padding-left: 17px;
    position: relative;
    bottom: 15px;
}

.soctxt p span{
    font-size: 18px;
    font-weight: bold;
}

.white-row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}