@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html{
    height:100%;
}


body{
    margin:0;
    width: 100%;
    height:100%;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 14px;
}


.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:hidden;
}

.header-nav-logo-stripe{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px 0 10px 0;
}

.nav-logo{
    padding-top: 10px;
    width: 50%;
    font-size: 32px;   
    color: rgb(99, 127, 131);
    text-align: center;
    font-weight: 900;
}

/* MENU*/


.menu{
    width: 50%;
    text-align: left;
}

.nav-stripe{
    list-style-type: none;
    padding-left:0;
    display: flex;
}

.nav-stripe li img{
    padding-bottom: 7px;
    padding-left: 40%;
    width: 9px;
    height: 6px;
    visibility: hidden;
}

.nav-stripe li{
    padding-right: 5%;  
    color: rgb(99, 127, 131);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.nav-stripe :first-child img{
    visibility: visible;
}

.nav-stripe li a:hover{
    color: rgb(228, 85, 29);
}


/* BACKGROUND PCT */

.main-pict{
    background: url('../images/wallpaperwidecom.png') no-repeat center center;
    text-align: center;
    width: 100%;
    height: 40em;
    background-position-y: top;
}

.bckg-text-big{
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 7%;
    letter-spacing: 1.7px;
    line-height: 1.4;
    letter-spacing: 0.25rem;
    text-underline-position: under;
}

.bckg-text-small{

    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7em;
}


.bckg-img-round{
    background: url('../images/cir.png') no-repeat center center;
    width:50px;
    height:50px;
    background-size:contain;
    animation: move 1s infinite alternate;
}

@keyframes move{
    0%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(20px)
    }
}
.bckg-img-arr{
    background: url('../images/arrow.png') no-repeat center center;
    width:50px;
    height:50px;
}

.A {
    width: 30%;
    margin-left: 48%;
}

a:hover{
    cursor: pointer;
}


/* MAIN PART */

.header-stripe {
    padding: 40px 0;
    text-align: center;
}

.header-stripe h1, .header-stripe p{
    color: rgb(99, 127, 131);
    line-height: 1.4;
    margin: 0;
}

.header-stripe h1 {
    font-size: 2rem;
    font-weight: 900;

}

.header-stripe p {
    font-size: 1.4rem;
    font-weight: 100;
}


.options-stripe{
    padding: 0 5%;
    text-align: center;
    background-color: rgb(246, 246, 246);
    align-items: baseline;
    display: flex;
}

.option{
    padding: 5% 3%;
    color: rgb(99, 127, 131);
    width: 30%;
}

.option:first-child, .option:nth-child(2), .option:nth-child(3){
    border-right: 1px solid rgb(213, 213, 213);
}

.name{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.857;
}

.descr{
    line-height: 1.429;
}

.morebtn {
    background-color: rgb(99, 127, 131);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 4px;
    height: 30px;
    width: 65px;
    margin-top: 15px;   
    font-weight: bolder;
  }


.morebtn:hover{
    cursor: pointer;
  }

.bckg-orange{
    text-align: center;
    padding-top: 50px;
}

.bckg-orange img{
    width: 100%;
    height: 100%;
}

.orangebtn{
    text-align: center;
}

.btn-view-portf{
    background-color: rgb(228, 85, 29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;   
    font-weight: bolder;
    margin-top: 40px;
    height: 40px;
    width: 140px;
    letter-spacing: 1.2px;
}

.btn-view-portf:hover{
    cursor: pointer;
}

.line-with-arrows{
text-align: center;
}

.line{
display: inline;
padding: 5px;
}

.line-half{
    padding-bottom: 10px;
    width: 45%;
    border-top: 1px solid rgb(213, 213, 213);
    display: inline-block;
}

.feedbacks-section{
    margin: 40px 0;
    padding-top: 40px;
    border-top: 1px solid rgb(213, 213, 213); 
    display: table;
}

.row{
    display: flex;
    margin-bottom: 15px;
}

.fdb{
    display: flex;
    padding-right: 15px;
}

.column p{
    margin-top: 0;
    padding-left: 20px;   
    font-size: 14px;
    color: rgb(99, 127, 131);
    vertical-align: top;
    line-height: 1.857;
    letter-spacing: 0.4px;
}

.column p span{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
}


.plsmore{
    color: rgb(228, 85, 29);
}

/* SUBSCRIPTION FORM & TWITTER  */


.gray-ft{
    background-color: rgb(99, 127, 131);
}

.wht-fnt{
    border-bottom: 0.5px solid rgb(89, 114, 117);
}

.wht-fnt h1, .wht-fnt p{
    color: white;
}


.gray-ft-subscr{
    display: flex;
    flex-flow: row;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gray-ft-subscr-form, .gray-ft-twitter-post{
    width: 50%;
    padding-right: 15px;
}

.gray-ft-subscr-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.gray-ft-newsltr, .gray-ft-twitter-post{
    display: flex;
}


.subscr-mail-txt p span{
    font-weight: bolder;
    font-size: 18px;

}

.inpfield{
    width: 70%;
    background-color:rgb(89, 114, 117);
    border: none;
    color: white;
    border-radius: 5px;
    height: 33px;
    padding-left: 10px;
}

.submbtn{
    font-size: 18px;
    background-color:rgb(89, 114, 117);
    color: white;
    height: 35px;
    width: 20%;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 20px;
}

.submbtn:hover{
    cursor: pointer;
}

.gray-ft-twitter-post{
    background-color: rgb(89, 114, 117);
    border-radius: 4px;
    padding: 20px;
}

.subscr-mail-txt, .twitter-txt{
    padding-left: 25px;
    color: white;
    line-height: 1.5em;
}


.twitter-txt p, .subscr-mail-txt p{
    margin: 0;
}

.twitlink{
    text-decoration: underline;
    font-weight: bolder;
}


/* SOCIAL */

.white-ft{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.col{
    display: inline-flex;
}

.round-img{
    background: url('../images/cir.png') no-repeat center center;
    width: 70px;
    background-size:contain;
    vertical-align: middle;
}
.fb{
    background: url('../images/fb.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.gpls{
    background: url('../images/gplus.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.lkd{
    background: url('../images/linkedin.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.soctxt{
    width: 250px;   
    color: rgb(99, 127, 131);
    line-height: 1.5em;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

.soctxt p span{
    font-size: 18px;
    font-weight: bold;
}


/* FOOTER */

.ft-gr3-txt{
    
    color: white;
    line-height: 1.714;
    padding: 20px;
}

.ft2{
    text-align: center;
}