body{
    margin:0;
    height:100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.header{
    margin:0;
    width: 100%;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:hidden;
}

.nav{
    height: 60px;
}

.nav-logo{
    float: left;
    width: 50%;
    font-size: 32px;   
    color: rgb(99, 127, 131);
    text-align: center;
    font-weight: bold;
    padding-top:11px;
}

/* MENU*/

.nav{
    width: 80%;
}

.menu{
    float: right;
    width: 50%;
    text-align: left;
}

.nav-stripe{
    list-style-type: none;
    float: right;
    padding-top: 11px;
}

.nav-stripe li{
    list-style-type: none;
    float: left;
    padding-left: 25px;
    font-size: 14px;   
    color: rgb(99, 127, 131);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    z-index: 8;
}

.img-nav-arr-hover{
    position: absolute;
    top: 3%;
    display: none;
}

.nav-stripe li a:hover{
    color: rgb(228, 85, 29);
}


/* BACKGROUND PCT */

.main-pict{
    background: url('../images/header_background.png') no-repeat center center;
    background-size: 100%;
    width: 100%;
    box-sizing: border-box;
    height: 330px;
    text-align: center;
}

.bckg-text-big{
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 40px;
    letter-spacing: 1.7px;
    line-height: 1.3em;
}

.bckg-text-small{
    margin-top: -15px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7em;
}


.bckg-img-round{
    background: url('../images/cir.png') no-repeat center center;
    width:50px;
    height:50px;
    background-size:contain;
}
.bckg-img-arr{
    background: url('../images/arrow.png') no-repeat center center;
    width:50px;
    height:50px;
}

.A {
    width: 30%;
    margin-left: 48%;
}

a:hover{
    cursor: pointer;
}


/* MAIN PART */

.text-stripe {
    padding-top: 15px;
    text-align: center;
}

.text-stripe p, .text-stripe2 p{
    
    line-height: 0.2em;
    color: rgb(99, 127, 131);
}

.p1{
    font-size: 24px;
    font-weight: bold;
}


.options-stripe{
    margin-top: 30px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.option{
    display: table-cell;
    height: 310px;
    font-size: 14px;
    padding: 15px;
    color: rgb(99, 127, 131);
    vertical-align: middle;
    width: 20%;
}

.option:first-child, .option:nth-child(2), .option:nth-child(3){
    border-right: 1px solid rgb(213, 213, 213);
}

.name{
    font-size: 18px;
    font-weight: bold;
}

.morebtn {
    background-color: rgb(99, 127, 131);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    height: 30px;
    width: 65px;
    margin-top: 15px;   
    font-weight: bolder;
  }

.morebtn:hover{
      cursor: pointer;
  }


.text-stripe2{
    padding-top: 35px;
    text-align: center;
}

.bckg-orange{
    text-align: center;
    padding-top: 50px;
}

.bckg-orange img{
    width: 100%;
    height: 100%;
}

.orangebtn{
    text-align: center;
}

.btn-view-portf{
    background-color: rgb(228, 85, 29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;   
    font-weight: bolder;
    margin-top: 40px;
    height: 40px;
    width: 140px;
    letter-spacing: 1.2px;
}

.btn-view-portf:hover{
    cursor: pointer;
}

.line-with-arrows{
margin-top: 50px;
text-align: center;
}

.line{
display: inline;
padding: 5px;
}

.line-half{
    padding-bottom: 10px;
    width: 45%;
    border-top: 1px solid rgb(213, 213, 213);
    display: inline-block;
}

.feedbacks-section{
    margin: 40px 0;
    padding-top: 40px;
    border-top: 1px solid rgb(213, 213, 213); 
    display: table;
}

.row{
    display: flex;
}

.fdb{
    display: flex;
    padding-right: 15px;
}

.column p{
    padding-left: 20px;   
    font-size: 12px;
    color: rgb(99, 127, 131);
    vertical-align: top;
    line-height: 1.7em;
    letter-spacing: 0.4px;
}

.column p span{
    font-weight: bold;
    font-size: 18px;
}

.column img{
    padding-top: 13px;
}

.plsmore{
    color: rgb(228, 85, 29);
}

/* FOOTER */


.gray-ft{
    background-color: rgb(99, 127, 131);
}

.gray-ft-first-line{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(89, 114, 117);
    color: white;
    line-height: 1.2;
}

.gray-ft-first-line p span{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}


.gray-ft-subscr{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gray-ft-subscr-form, .gray-ft-twitter-post{
    width: 50%;
    padding-right: 15px;
}

.gray-ft-newsltr, .gray-ft-twitter-post{
    display: flex;
}


.subscr-mail-txt p span{
    font-weight: bolder;
    font-size: 16px;

}

.subscr-form{
    margin-top: 25px;
    vertical-align: bottom;
}


.inpfield{
    width: 70%;
    background-color:rgb(89, 114, 117);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    height: 33px;
    padding-left: 10px;
}

.submbtn{
    background-color:rgb(89, 114, 117);
    color: white;
    height: 35px;
    width: 20%;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    margin-left: 20px;
}

.submbtn:hover{
    cursor: pointer;
}

.gray-ft-twitter-post{
    align-items: flex-start;
    background-color: rgb(89, 114, 117);
    border-radius: 4px;
    padding: 20px;
}

.subscr-mail-txt, .twitter-txt{
    padding-left: 25px;
    color: white;
    line-height: 1.5em;
    font-size: 14px;
}

.subscr-mail-img, .twitter-img{
    margin-top: auto;
    margin-bottom: auto;
}

.twitter-txt p, .subscr-mail-txt p{
    margin: 0;
}

.twitlink{
    text-decoration: underline;
    font-weight: bolder;
}
/* second */

.white-ft{
    margin-top: 30px;
    text-align: center;
}

.round-img{
    background: url('../images/cir.png') no-repeat center center;
    width: 70px;
    background-size:contain;
    vertical-align: middle;
}
.fb{
    background: url('../images/fb.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.gpls{
    background: url('../images/gplus.png') no-repeat center center;
    width: 70px;
    height:70px;
}

.lkd{
    background: url('../images/linkedin.png') no-repeat center center;
    width: 70px;
    height:70px;
}


.col{
    display: inline-flex;
}

.soctxt{
    width: 250px;   
    color: rgb(99, 127, 131);
    line-height: 1.5em;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
}

.soctxt p span{
    font-size: 18px;
    font-weight: bold;
}


/* third */

.ft-gr3-txt{
    
    color: white;
    line-height: 1.5em;
    font-size: 14px;
    padding: 20px;
}

.ft2{
    text-align: center;
}